[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==5.0"
django-nested-admin = "*"
django-extensions = "*"
django-browser-reload = "*"
django-tailwind = "*"
django-htmx = "*"
jinjax = "*"
psycopg2 = "*"

[dev-packages]
djlint = "*"

[requires]
python_version = "3.12"
