{% load i18n %}
<dialog id="record-dialog"
        x-data
        x-ref="recordDialog"
        class="p-4 w-[330px] h-[480px] open:flex flex-col"
        hx-swap="show:#item_{{ item.id }}"
        x-init="$el.showModal()">
    <h2 class="block text-center text-lg font-semibold mb-4">
        {% if record_form.instance.id %}
            {% translate "Edit record" %}
        {% else %}
            {% translate "Add new record" %}
        {% endif %}
    </h2>
    {% include "food/forms/item_search_form.html" with form=item_search_form %}
    <form id="record-form"
          class="flex flex-1 min-h-0 flex-col gap-4"
          {% if record %} hx-patch="{% url "food:records" date=day.date meal_id=meal.id record_id=record.id %}" hx-target="#meal-{{ meal.position }}-record-{{ record.position }}" hx-swap="outerHTML" {% else %} hx-post="{% url "food:records" date=day.date meal_id=meal.id %}" hx-target="#meal-{{ meal.position }}-records" hx-swap="beforeend"{% endif %}
          x-data="{ type: '{{ form.type.value }}' }"
          x-on:submit="$refs.recordDialog.close()">
        {% comment %} <div id="record-dialog-indicator" class="w-64 h-64 [&.htmx-request]:bg-red-600"></div> {% endcomment %}
        <div id="record-dialog-items"
             class="flex-1 flex flex-col overflow-y-scroll [&.htmx-swapping]:hidden [&.htmx-settling]:hidden">
            {% include "food/day/record_dialog/items.html" %}
        </div>
        <div id="record-dialog-bottom">{% include "food/day/record_dialog/bottom.html" with form=record_form %}</div>
    </form>
</dialog>
